@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf");
  font-weight: 400;
}

$font-medium: "Roboto", serif;
$font-light: "Roboto", serif;
$font-logo-title: "Shrikhand", serif;

$white: #fff;
$grey: #353535;
$black: black;
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: var(--Green, #99e2d0);
$color-background: var(--Background, #f6f6f6);
$color-background-2: var(--Grey-2, #eaeaea);
$color-button-default: var(
  --Button-Gradient,
  linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%)
);
$color-button-checked: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 100%
  ),
  linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
$color-text-button-new: #008766;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: $font-medium;
}

li {
  list-style: none;
}
