@keyframes heart {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-top-color: $color-primary;
    border-bottom-color: $color-primary;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: $color-primary;
    border-bottom-color: $color-primary;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: $color-primary;
    border-bottom-color: $color-primary;
  }
}

@keyframes visibility {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes apparition {
  0% {
    transform: translate(100%);
    opacity: 0;
  }
  30% {
    transform-origin: left;
    transform: scale(0.5, 1.2) translate(-10px);
  }

  35% {
    transform-origin: left;
    transform: scale(1.1, 0.85) translate(-10px);
  }

  40% {
    transform-origin: left;
    transform: scale(0.8, 1.06) translate(-5px);
  }
  45% {
    transform-origin: left;
    transform: scale(1.03, 0.9) translate(5px);
  }

  50% {
    transform-origin: left;
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
