.restaurants__section {
  display: flex;
  justify-content: center;
  padding: 50px 15px;
  background-color: $color-background-2;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    max-width: 490px;

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }
}
