.love-box {
  position: relative;
}

.love {
  font-size: 25px;
  text-align: center;
  width: 27px;
  cursor: pointer;
  background: $color-button-checked;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  transform-origin: center;
  transform: scale(0);
  z-index: 1;
  transition: transform 0.3s ease; /* Ajout de la transition pour un effet plus doux */
}

.love-empty {
  font-size: 25px;
  position: absolute;
  inset: 0 0 0 1px;
  width: 27px;
  height: 25px;
  cursor: pointer;
  transform-origin: center;
  transform: scale(1);
  z-index: 0; /* Mise à jour du z-index pour s'assurer que .love est au-dessus lors du survol */

  &:active {
    transform: scale(1);
  }
}

.love-box:hover .love {
  transform: scale(1);
  z-index: 2; /* Pour le placer au-dessus de .love-empty lors du survol */
}

.checklove:checked + label .love {
  animation: heart 0.8s ease-in-out forwards;
  transform: scale(1);
  z-index: 3; /* Ceci le place au-dessus de .love et .love-empty lorsqu'il est coché */

  &:active {
    transform: scale(1);
  }
}

.checklove:checked + label .love-empty {
  transform: scale(0);
}
