@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.plate-card {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-radius: 15px;
  background-color: $white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  cursor: pointer;
  width: 100%;
  opacity: 0;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 12px 15px;
    width: 100%;
    overflow: hidden;

    &__text {
      display: flex;
      flex-direction: column;
      height: 42px;
      overflow: hidden;

      &__title {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__subtitle {
        font-size: 15px;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__check {
    display: flex;
    min-width: 0px;
    height: 66px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: $color-tertiary;
    color: $white;
    font-size: 20px;
    opacity: 0;
    transform-origin: right;
    transition: min-width 400ms ease-in-out, opacity 300ms ease-in-out;

    .fa-solid {
      width: 0;
      transition: width 400ms, visibility 400ms;
      visibility: hidden;
    }
  }

  &:hover .plate-card__check {
    min-width: 60px;
    opacity: 1;
  }

  &:hover .plate-card__check .fa-solid {
    width: 20px;
    visibility: visible;
  }
}

.checkplate:checked + label .plate-card__check {
  min-width: 60px;
  opacity: 1;
}

.checkplate:checked + label .plate-card__check .fa-solid {
  width: 20px;
  visibility: visible;
}

.entree,
.entree1,
.entree2,
.entree3,
.entree4,
.plat,
.plat1,
.plat2,
.plat3,
.dessert,
.dessert1,
.dessert2,
.dessert3 {
  animation: apparition 2000ms forwards ease-in-out;
}

.entree {
  animation-delay: 0.5s;
}
.entree1 {
  animation-delay: 0.75s;
}
.entree2 {
  animation-delay: 1s;
}
.entree3 {
  animation-delay: 1.3s;
}
.entree4 {
  animation-delay: 1.6s;
}
.plat {
  animation-delay: 1.9s;
}
.plat1 {
  animation-delay: 2.2s;
}
.plat2 {
  animation-delay: 2.5s;
}
.plat3 {
  animation-delay: 2.8s;
}
.dessert {
  animation-delay: 3.1s;
}
.dessert1 {
  animation-delay: 3.4s;
}
.dessert2 {
  animation-delay: 3.7s;
}
.dessert3 {
  animation-delay: 4s;
}
