.choice {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: $color-grey-light;
  box-shadow: 0 4x 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 22px;

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: $color-primary;
    border-radius: 50%;
    color: white;
    position: relative;
    left: -10px;
    min-width: 24px;
  }

  &__fa {
    color: $color-grey-2;
    width: 20px;
    &--color {
      color: $color-primary;
    }
  }
}
