@charset "UTF-8";
* {
  font-family: "Roboto", serif;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  width: 100%;
  box-sizing: border-box;
  max-width: 1440px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h3,
p {
  margin: 0;
  padding: 0;
}

input[type=checkbox] {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a,
a:visited,
a:active,
a:focus {
  color: black;
  text-decoration: none;
}

/**** COMPONENTS ****/
.logo {
  font-family: "Shrikhand", serif;
}

.btn {
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 16px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 15px;
  height: 251px;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurant-card__link {
  display: block;
}
.restaurant-card__link__img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-position: 50% 60%;
}
.restaurant-card__link__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80px;
  height: 29px;
  right: 15px;
  top: 5px;
  background-color: var(--Green, #99e2d0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-size: 14px;
  color: #008766;
}
.restaurant-card__link__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 31%;
  padding: 15px 25px 15px 15px;
}
.restaurant-card__link__content__text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurant-card__link__content__text__title {
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.restaurant-card__link__content__text__subtitle {
  font-size: 17px;
  font-weight: 300;
}
.restaurant-card__love {
  position: absolute;
  width: 22px;
  height: 21px;
  right: 25px;
  bottom: 33px;
  cursor: pointer;
}

.love {
  transform: scale(0);
  z-index: 1;
}
label:hover .love {
  transform: scale(1);
  z-index: 2;
}

.checklove:checked + label .love {
  transform: scale(1);
  z-index: 3;
}

.love-box {
  position: relative;
}

.love {
  font-size: 25px;
  text-align: center;
  width: 27px;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  transform-origin: center;
  transform: scale(0);
  z-index: 1;
  transition: transform 0.3s ease; /* Ajout de la transition pour un effet plus doux */
}

.love-empty {
  font-size: 25px;
  position: absolute;
  inset: 0 0 0 1px;
  width: 27px;
  height: 25px;
  cursor: pointer;
  transform-origin: center;
  transform: scale(1);
  z-index: 0;
}
.love-empty:active {
  transform: scale(1);
}

.love-box:hover .love {
  transform: scale(1);
  z-index: 2;
}

.checklove:checked + label .love {
  animation: heart 0.8s ease-in-out forwards;
  transform: scale(1);
  z-index: 3;
}
.checklove:checked + label .love:active {
  transform: scale(1);
}

.checklove:checked + label .love-empty {
  transform: scale(0);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}

.header-title {
  font-size: 30px;
  margin-top: 14px;
  margin-bottom: 5px;
}

.header-return {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  margin-top: 23px;
  margin-left: 23px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.header-return__fa {
  font-size: 20px;
}

.choice {
  display: flex;
  align-items: center;
  height: 72px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 22px;
}
.choice__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  position: relative;
  left: -10px;
  min-width: 24px;
}
.choice__fa {
  color: #7e7e7e;
  width: 20px;
}
.choice__fa--color {
  color: #9356dc;
}

.plate-card {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  cursor: pointer;
  width: 100%;
  opacity: 0;
}
.plate-card__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 12px 15px;
  width: 100%;
  overflow: hidden;
}
.plate-card__content__text {
  display: flex;
  flex-direction: column;
  height: 42px;
  overflow: hidden;
}
.plate-card__content__text__title {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plate-card__content__text__subtitle {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plate-card__check {
  display: flex;
  min-width: 0px;
  height: 66px;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--Green, #99e2d0);
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transform-origin: right;
  transition: min-width 400ms, opacity 300ms;
}
.plate-card__check .fa-solid {
  width: 0;
  transition: width 400ms, visibility 400ms;
  visibility: hidden;
}
.plate-card:hover .plate-card__check {
  min-width: 60px;
  opacity: 1;
}
.plate-card:hover .plate-card__check .fa-solid {
  width: 20px;
  visibility: visible;
}

.checkplate:checked + label .plate-card__check {
  min-width: 60px;
  opacity: 1;
}

.checkplate:checked + label .plate-card__check .fa-solid {
  width: 20px;
  visibility: visible;
}

.entree {
  animation: apparition 2000ms 0.5s forwards;
}

.entree1 {
  animation: apparition 2000ms 0.75s forwards;
}

.entree2 {
  animation: apparition 2000ms 1s forwards;
}

.entree3 {
  animation: apparition 2000ms 1.3s forwards;
}

.entree4 {
  animation: apparition 2000ms 1.6s forwards;
}

.plat {
  animation: apparition 2000ms 1.9s forwards;
}

.plat1 {
  animation: apparition 2000ms 2.2s forwards;
}

.plat2 {
  animation: apparition 2000ms 2.5s forwards;
}

.plat3 {
  animation: apparition 2000ms 2.8s forwards;
}

.dessert {
  animation: apparition 2000ms 3.1s forwards;
}

.dessert1 {
  animation: apparition 2000ms 3.4s forwards;
}

.dessert2 {
  animation: apparition 2000ms 3.7s forwards;
}

.dessert3 {
  animation: apparition 2000ms 4s forwards;
}

/****** LAYOUT ******/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background-color: #353535;
  animation: visibility 1.5s ease forwards;
}
.loader__ring {
  position: relative; /* changé de absolute à relative pour positionner le texte à l'intérieur */
  width: 150px; /* augmenté pour accueillir le texte */
  height: 150px;
  border-radius: 50%;
  display: flex; /* ajouté pour centrer le texte */
  justify-content: center;
  align-items: center;
  color: white; /* couleur du texte */
}
.loader__ring::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: white; /* couleur du loader */
  animation: rotate 2s linear infinite;
}
.loader__ring__text {
  position: absolute;
  text-align: center;
  font-size: 20px; /* taille du texte */
  z-index: 1; /* pour s'assurer que le texte est au-dessus du loader */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.visit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 288px;
  background-color: var(--Background, #f6f6f6);
}
.visit__title {
  width: 100%;
  padding: 0 50px;
  margin-bottom: 10px;
  text-align: center;
}
.visit__text {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 27px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}
.visit__btn {
  padding: 0 20px;
}

.location {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: var(--Grey-2, #eaeaea);
  color: #353535;
}
.location__text {
  border: none;
  background-color: var(--Grey-2, #eaeaea);
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  appearance: none;
  width: 130px;
  padding: 0;
}
.location__text:focus {
  outline-color: black;
}

::placeholder {
  color: #353535;
  opacity: 1;
}

.process__section {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}
@media (min-width: 1024px) {
  .process__section {
    margin: 50px 12.5%;
    padding: 50px 0;
    justify-content: center;
  }
}
.process__section__box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 335px;
}
@media (min-width: 1024px) {
  .process__section__box {
    max-width: none;
  }
}
@media (min-width: 1440px) {
  .process__section__box {
    max-width: 1440px;
  }
}
.process__section__box__choices {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 10px;
}
@media (min-width: 1024px) {
  .process__section__box__choices {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .process__section__box__choices .choice {
    width: 335px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}
.menu__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -55px;
  gap: 42px;
  padding: 40px 13px;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f7f7f7;
  max-width: 1055px;
}
.menu__main__name {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 341px;
}
.menu__main__name .love {
  margin-right: 28px;
}
.menu__main__name .love-empty {
  margin-right: 28px;
}
.menu__main__cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 634px;
}
.menu__main__btn {
  padding: 0 50px;
}

.plates {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}
.plates__title {
  font-size: 16px;
  font-weight: 300;
  opacity: 0;
}
.plates__title::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  margin-top: 4px;
  background-color: var(--Green, #99e2d0);
}
.plates__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.restaurants__section {
  display: flex;
  justify-content: center;
  padding: 50px 15px;
  background-color: var(--Grey-2, #eaeaea);
}
@media (min-width: 1024px) {
  .restaurants__section {
    padding: 50px 12.5%;
    justify-content: center;
  }
}
.restaurants__section__box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 490px;
}
@media (min-width: 1024px) {
  .restaurants__section__box {
    max-width: 1440px;
  }
}
.restaurants__section__box__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .restaurants__section__box__cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}
@media (min-width: 1024px) {
  .restaurants__section__box__cards .restaurant-card {
    width: 45.5%;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  padding: 22px 25px;
}
@media (min-width: 768px) {
  .footer-section {
    flex-direction: row-reverse;
    align-items: end;
    height: 114px;
    padding: 60px 60px;
    gap: 100px;
  }
}
.footer-section__title {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}
.footer-section__nav__links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 768px) {
  .footer-section__nav__links {
    flex-direction: row;
    gap: 25px;
  }
}
.footer-section .link {
  color: #fff;
  font-weight: 300;
}
.footer-section .link .fa-solid {
  font-size: 13px;
  width: 11px;
}
.footer-section .link--bold {
  display: flex;
  gap: 11px;
  font-weight: 400;
}

@keyframes heart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
  }
  50% {
    transform: rotate(180deg);
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
  }
  100% {
    transform: rotate(360deg);
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
  }
}
@keyframes visibility {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes apparition {
  0% {
    transform: translate(100%);
    opacity: 0;
  }
  30% {
    transform-origin: left;
    transform: scale(0.5, 1.2) translate(-10px);
  }
  35% {
    transform-origin: left;
    transform: scale(1.1, 0.85) translate(-10px);
  }
  40% {
    transform-origin: left;
    transform: scale(0.8, 1.06) translate(-5px);
  }
  45% {
    transform-origin: left;
    transform: scale(1.03, 0.9) translate(5px);
  }
  50% {
    transform-origin: left;
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
/****** PAGES ******/

/*# sourceMappingURL=index.css.map */
